{% extends 'frenchise/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block home-page %}
<!-- Preloader Start -->

<main>
        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- About Law Start-->
    <div class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>About Our Company</span>
                            <h2>Building a Brighter financial Future & Good Support.</h2>
                        </div>
                        <p>we are working on developing a new type of loan that uses alternative data to assess borrowers' creditworthiness. This could help borrowers who have thin credit files or who have been turned down for traditional loans.</p>
                        <p>we are working on developing a tool that helps borrowers to track their loan payments and to identify ways to save money on interest.</p>
                        <a href="apply.html" class="btn">Apply for Loan</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'frenchise/img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'frenchise/img/gallery/about1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Law End-->
    <!-- Services Area Start -->
    <div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Services that we are providing</span>
                        <h2>High Performance Services For All Industries.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-work"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Business Loan</a></h5>
                            <p>Business loans are a type of financing that businesses can use to cover a wide range of expenses, such as startup costs, expansion costs, inventory costs, and marketing costs. Business loans can be secured or unsecured, and they can be short-term or long-term.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-loan"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Personal Loans</a></h5>
                            <p>A personal loan is a type of loan that can be used for any personal expense, such as debt consolidation, medical bills, home repairs, or unexpected expenses. Personal loans are typically unsecured, meaning that they do not require collateral. This makes them a good option for borrowers who do not have a lot of assets to back up their loan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-loan-1"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Construction Loans</a></h5>
                            <p>A home loan is a type of loan that borrowers can use to purchase a home. Home loans are typically secured loans, meaning that the borrower's home is used as collateral. This means that if the borrower defaults on the loan, the lender can foreclose on the home and sell it to recoup their losses.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Business Loan</a></h5>
                            <p>Insurance is a contract between an individual or business (the policyholder) and an insurance company (the insurer), in which the insurer agrees to pay for certain losses incurred by the policyholder in exchange for a premium. The premium is the amount of money that the policyholder pays to the insurer for coverage.</p>
                        </div>
                    </div>
                </div>

             </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!-- Support Company Start-->
    <div class="support-company-area section-padding3 fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img mb-50">
                        <img src="{% static 'frenchise/img/gallery/single2.jpg' %}" alt="">
                        <div class="support-img-cap">
                            <!-- <span>Since 1992</span> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle">
                            <span>Why Choose Our Company</span>
                            <h2>We Promise Sustainable  Future For You.</h2>
                        </div>
                        <div class="support-caption">
                            <p>We offer a variety of flexible repayment options, including biweekly and monthly payments. This allows our customers to choose a repayment plan that fits their budget and financial needs.</p>
                            <div class="select-suport-items">
                                <label class="single-items">Competitive interest rates and fees
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Flexible repayment terms
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Fast and easy application process
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Excellent customer service
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Support Company End-->
    <!-- Application Area Start -->
    <div class="application-area pt-150 pb-140" data-background="{% static 'frenchise/img/gallery/section_bg03.jpg' %} ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-45">
                        <span>Apply in Three Easy Steps</span>
                        <h2>Easy Application Process For Any Types of Loan</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <!--Hero form -->
                    <form action="#" class="search-box">
                        <div class="select-form">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">Select Amount</option>
                                    <option value="">$120</option>
                                    <option value="">$700</option>
                                    <option value="">$750</option>
                                    <option value="">$250</option>
                                </select>
                            </div>
                        </div>
                        <div class="select-form">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">Duration Month</option>
                                    <option value="">7 Days</option>
                                    <option value="">10 Days</option>
                                    <option value="">14 Days Days</option>
                                    <option value="">20 Days</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-form">
                            <input type="text" placeholder="Return Amount">
                        </div>
                        <div class="search-form">
                            <a href="apply.html">Apply for Loan</a>
                        </div>	
                    </form>	
                </div>
            </div>
        </div>
    </div>
    <!-- Application Area End -->
    <!--Team Ara Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Our Loan Section Team Mambers</span>
                        <h2>Take a look to our professional team members.</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'frenchise/img/gallery/home_blog1.png' %}" alt="">
                            <!-- Blog Social -->
                            <div class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            </div>
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Bruce Roberts</a></h3>
                            <p>Volunteer leader</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'frenchise/img/gallery/home_blog2.png' %}" alt="">
                            <!-- Blog Social -->
                            <div class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            </div>
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Bruce Roberts</a></h3>
                            <p>Volunteer leader</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'frenchise/img/gallery/home_blog3.png' %}" alt="">
                            <!-- Blog Social -->
                            <div class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            </div>
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Bruce Roberts</a></h3>
                            <p>Volunteer leader</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'frenchise/img/gallery/home_blog4.png' %}" alt="">
                            <!-- Blog Social -->
                            <div class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            </div>
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Bruce Roberts</a></h3>
                            <p>Volunteer leader</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
    <!-- Testimonial Start -->
    <div class="testimonial-area t-bg testimonial-padding">
        <div class="container ">
           <div class="row d-flex justify-content-center">
                <div class="col-xl-11 col-lg-11 col-md-9">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                             <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'frenchise/img/gallery/testimonial.png' %}" alt="">
                                    <p>
                                        Fundcare is a loan service provider that offers a variety of loan products, including personal loans, business loans, and home loans. Fundcare is known for its competitive 
                                        interest rates, flexible repayment terms, and fast and easy application process.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="{% static 'frenchise/img/testmonial/Homepage_testi.png' %}" alt="">
                                    </div>
                                   <div class="founder-text">
                                        <span>Lakshmikant Dubey</span>
                                        <p>Co Founder</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                             <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'frenchise/img/gallery/testimonial.png' %}" alt="">
                                    <p>Logisti Group is a representative logistics operator providing full range of ser
                                        of customs clearance and transportation worl.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="{% static 'frenchise/img/testmonial/Homepage_testi.png' %}" alt="">
                                    </div>
                                   <div class="founder-text">
                                        <span>Jessya Inn</span>
                                        <p>Co Founder</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Blog Ara Start -->
    <div class="home-blog-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>News form our latest blog</span>
                        <h2>News from around the world selected by us.</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <!-- single-david -->
                    <div class="single-blogs mb-30">
                        <div class="blog-images">
                            <img src="{% static 'frenchise/img/gallery/blog1.png' %}" alt="">
                        </div>
                        <div class="blog-captions">
                            <span>January 28, 2020</span>
                            <h2><a href="blog_details.html">The advent of pesticides brought 
                                in its benefits and pitfalls.</a></h2>
                            <p>October 6, a2020by Steve</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <!-- single-david -->
                    <div class="single-blogs mb-30">
                        <div class="blog-images">
                            <img src="{% static 'frenchise/img/gallery/blog2.png' %}" alt="">
                        </div>
                        <div class="blog-captions">
                            <span>January 28, 2020</span>
                            <h2><a href="blog_details.html">The advent of pesticides brought 
                                in its benefits and pitfalls.</a></h2>
                            <p>October 6, a2020by Steve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Ara End -->

</main>



{% endblock home-page %}

