{% extends 'frenchise/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block home-page %}


<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
            </div>
            <div>
         
                    
            </div>

        </div>
      

        <div class="col-lg-6">
            <div>
                <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>
   
</div>



{% endblock home-page %}