{% extends 'frenchise/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block home-page %}
<!-- Preloader Start -->

<main>
<br> 
<hr>
  
  <!-- Navbar top -->
  <div class="navbar-top mt-5">
    <div class="title">
        <h1>Employee Registration</h1>
       
    </div>

    <div>
        
    </div>

    <!-- Navbar -->
    <ul>
       
        <li>
            <a href="#notification">
                <span class="icon-count">59</span>
                <i class="fa fa-bell fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out-alt fa-2x"></i>
            </a>
        </li>
    </ul>
    <!-- End -->
</div>
<!-- End -->

<!-- Sidenav -->
<div class="sidenav">
    <div class="profile">
        <img src="https://imdezcode.files.wordpress.com/2020/02/imdezcode-logo.png" alt="" width="100" height="100">

        <div class="name">
            {{request.user.username}}
        </div>
        <div class="job">
            {{request.user}}
        </div>
    </div>

    <div class="sidenav-url">
        <div class="url">
            <a href="{% url 'dashboard' %}" class="active">Profile</a>
            <hr align="center">
        </div>
        {% comment %} <div class="url">
            <a href="{% url 'applyfrenchise' %}" class="active">Apply for Frenchise</a>
            <hr align="center">
        </div> {% endcomment %}

    </div>
</div>
<!-- End -->

<!-- Main -->
<div class="main">
    
    <div class="card">
        <div class="card-body">
            <p class="bold"> We are working in the Employes deatil Data we will update it Soon ....</p>
        </div>
    </div>

    <h2>SOCIAL MEDIA</h2>
    <div class="card ">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <div class="social-media">
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End -->





{% endblock home-page %}