{% extends 'frenchise/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block home-page %}
<style>
    .notification-box {
        width: 300px; /* Adjust the width as needed */
        min-height: 400px; /* Adjust the height as needed */
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        padding: -10px;
    }
    
</style>
<main>
    <br>
 {{data.total_loan}}
    <div id="wrapper">
        <div class="overlay"></div>
         
             <!-- Sidebar -->
         <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav">
            <div class="sidebar-header">
            <div class="sidebar-brand">
                <a href="{% url 'f_overview' %}">Frenchise Overview</a></div></div>
            
            <!-- <li><a href="{% url 'dashboard' %}">Franchise Dashboard</a></li> -->
            <li><a href="{% url 'e_dashboard' %}">Employee Details List</a></li>
            <li><a href="{% url 'emp_registration' %}">Register Employee</a></li>
            <!-- <li><a href="{% url 'appllyinsurance' %}">Apply for Loans</a></li>
            
            <div class="dropdown">
                <li><a href="{% url 'appllyloan' %}">Apply for Insurance</a></li>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a class="dropdown-item" href="#">Personal Loan</a></li>
                  <li><a class="dropdown-item" href="#">Home Loan</a></li>
                  <li><a class="dropdown-item" href="#">Business Loan</a></li>
                </ul>
              </div> -->
           <!-- </li>
           <li><a href="#services">Services</a></li>
           <li><a href="#contact">Contact</a></li>
           <li><a href="#followme">Follow me</a></li> -->
           </ul>
       </nav>
             <!-- /#sidebar-wrapper -->
     
             <!-- Page Content -->
             <div id="page-content-wrapper">
                 <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                     <span class="hamb-top"></span>
                     <span class="hamb-middle"></span>
                     <span class="hamb-bottom"></span>
                 </button>

               
                            <!-- calender -->
                 <h3 class="title-3 text-center">Franchise</h3>
                 <div class="container-fluid">
                    <div class="row form-group form-inline d-block "> 
                        <div class="justify-content-center align-items-center d-flex">
                        <!-- Center the form -->
                        <div class="col-lg-2">
                            <div class="row ">
                                <form method="post" action="" align-items-center d-flex>
                                    {% csrf_token %}

                                    

                                    <div class="form-group form-inline d-flex my-1">
                                        <label for="from">From:</label>
                                        <input type="date" name="from" class="form-control form-control-sm">
                                    </div>
                                    <div class="form-group form-inline d-flex mx-4">
                                        <label for="to">To:</label>
                                        <input type="date" name="to" class="form-control form-control-sm">
                                    </div>
                                    <input type="submit" class="btn btn-primary px-2 mx-3 my-2" value="Save Changes">
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>
                
                <!-- leads details card -->
                 <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                    {% for ad in data %}
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">{{ad.total_sales}}</span></div>
                                                <div class="stat-heading">Total Sales</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-2">
                                            <i class="pe-7s-cart"></i>
                                        </div>
                                        {% for ad in data %}
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">{{ad.total_loan}}</span></div>
                                                <div class="stat-heading">Loans</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-3">
                                            <i class="pe-7s-browser"></i>
                                        </div>
                                        {% for ad in data %}
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">{{ad.total_insurance}}</span></div>
                                                <div class="stat-heading">Insurance</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-4">
                                            <i class="pe-7s-users"></i>
                                        </div>
                                        {% for ad in data %}
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">{{ad.total_mf}}</span></div>
                                                <div class="stat-heading">Mutual Fund</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- lead details end -->

        <!-- lead charts start -->

                <div class="container-fluid">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <!-- RECENT REPORT-->
                                        <div class="recent-report3 m-b-40">
                                            <div class="title-wrap">
                                                <h3 class="title-3 text-center">Generating Leads</h3>
                                                <div class="filters m-b-55 d-flex">
                                                    <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border mx-2">
                                                        <select class="js-select2" name="property">
                                                            <option selected="selected">Products Sales</option>
                                                            <option value="">Personal Loans</option>
                                                            <option value="">Home Loans</option>
                                                            <option value="">Business Loans</option>
                                                            <option value="">Mutual Funds</option>
                                                            <option value="">Insurance</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                                        <select class="js-select2 au-select-dark" name="time">
                                                            <option selected="selected">All Time</option>
                                                            <option value="">By Month</option>
                                                            <option value="">By Day</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                </div>
                                                <div class="chart-info-wrap">
                                                    
                                                    <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
                                                   

                                                    
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        <!-- END RECENT REPORT-->
                                    </div>
                                </div>
                                  
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                <!-- CHART PERCENT-->
                                        <div class="chart-percent-6 m-b-40">
                                            <h3 class="title-3 m-b-25 text-center">Success Leads</h3>
                                            <div class="chart-note m-b-5">
                                                <span class="dot dot--blue"></span>
                                                <span>products</span>
                                            </div>
                                            <div class="chart-note">
                                                <span class="dot dot--red"></span>
                                                <span>services</span>
                                            </div>
                                            <div class="chart-wrap m-t-60">
                                                <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
                                            </div>
                                        </div>
                                <!-- END CHART PERCENT-->
                                    </div>
                                </div>
                            </div>
                              
                        </div>
                    </div>
                </div>

        <!-- lead charts end -->

    <!-- monthly growth Bar Charts start -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="title-3 text-center">Yearly Performance</h3>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <!-- <canvas id="TrafficChart"></canvas>   -->
                                        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-body notification-box">
                                       Your Notification
                                    </div> <!-- /.card-body -->
                                </div>
                            </div> <!-- /.row -->
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- monthly growth Bar Charts start -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                      <div class="modal-dialog">
                    <div class="modal-content">
                          <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                      </div>
                          <div class="modal-body">
                       
                       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                       
                      </div>
                        <div class="modal-footer ">
                        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                      </div>
                        </div>
                    <!-- /.modal-content --> 
                  </div>
                      <!-- /.modal-dialog --> 
                    </div>
             </div>
             <!-- <div class="row mt-5">
                <div class="col-lg-6">
                    <div>
                        <canvas id="myChart2" style="width:100%; max-width:700px"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="notification-box float-right ml-2">
                        <p>This is your notification content. You can add more content here if needed.</p>
                    </div>
                </div>
            </div> -->
             <!-- /#page-content-wrapper -->
     
         </div>
         <!-- /#wrapper -->

{% endblock home-page %}

{% block javascripttags %}

<script>
    
    var xValues = [];
    var yValues = [];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    {% for ad in data %}
        xValues.push("Success", "Total form Submitted");
        yValues.push({{ad.total_sales}},{{ad.total_submit}});
    {% endfor %}

    new Chart("myChart1", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Total leads Generating"
        }
      }
    });
    </script>


<script>
    var xValues = [];
    var yValues = [];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    {% for ad in data %}
        xValues.push("insurance", "Loan", "Demat Account", "Mutual Fund");
        yValues.push({{ad.total_insurance}},{{ad.total_loan}},{{ad.total_da}},{{ad.total_mf}});
    {% endfor %}


    new Chart("myChart2", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
    </script>

<!-- Bar growth chart start -->

<script>
    const xxValues = ["January", "February", "March", "April", "May","June", "July", "August", "Sept", "Oct","Nov", "Dec"];
    const yyValues = [55, 49, 44, 24, 15, 55, 49, 44, 24, 15,55, 49];
    const barsColors = ["red", "green","blue","orange","brown","red", "green","blue","orange","brown",,"blue","orange"];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xxValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Annual Growth"
        }
      }
    });
    </script>   

<!-- bar growth chart end -->

{% endblock javascripttags %}