{% extends 'frenchise/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block home-page %}
<!-- Preloader Start -->

<main>

        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
         <!-- Services Area Start -->
    <div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Services that we are providing</span>
                        <h2>High Performance Services For All Industries.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-work"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Business Loan</a></h5>
                            <p>Business loans are a type of financing that businesses can use to cover a wide range of expenses, such as startup costs, expansion costs, inventory costs, and marketing costs. Business loans can be secured or unsecured, and they can be short-term or long-term.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-loan"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Personal Loans</a></h5>
                            <p>A personal loan is a type of loan that can be used for any personal expense, such as debt consolidation, medical bills, home repairs, or unexpected expenses. Personal loans are typically unsecured, meaning that they do not require collateral. This makes them a good option for borrowers who do not have a lot of assets to back up their loan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-loan-1"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Construction Loans</a></h5>
                            <p>A home loan is a type of loan that borrowers can use to purchase a home. Home loans are typically secured loans, meaning that the borrower's home is used as collateral. This means that if the borrower defaults on the loan, the lender can foreclose on the home and sell it to recoup their losses.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Business Loan</a></h5>
                            <p>Insurance is a contract between an individual or business (the policyholder) and an insurance company (the insurer), in which the insurer agrees to pay for certain losses incurred by the policyholder in exchange for a premium. The premium is the amount of money that the policyholder pays to the insurer for coverage.</p>
                        </div>
                    </div>
                </div>

             </div>
        </div>
    </div>
    <!-- Services Area End -->
    </main>
  
    
    {% endblock home-page %}
    
    